DATABASE_URL=postgresql+psycopg2://postgres:54321@localhost:5432/photoshare
SECRET_KEY=your_super_secret_key_here
ALGORITHM=HS256

CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret